{% extends "base.html" %}
{% block content %}

<h2 style="text-align: center; padding: 2%;"> About Us </h2>
<p style="text-align: center; padding: 2%;"> This web application is a movie recommendation platform. Can’t choose what to watch now or later? Need advice on what you might like? This is the right platform for you! Rate the movie or movies you have watched before and we will send you a list of movies taking into account your preferences. Our mission is to provide you with personalized recommendations for movies that you potentially love. The more you add and rate movies, the better you will get. You can also explore movies by using our comprehensive search engine to narrow results. </p>
<p style="text-align: center; padding: 2%;"> We use a machine learning algorithm and the algorithm uses a cosine similarity matrix to find similar movies. Intuitive idea behind is “If a person likes a particular item, he/she will also like an item that is similar to it.” The dataset is taken from Netflix.  </p>

{% endblock %}